body {
    margin: 0;
    padding: 0;
    display: block;
    direction: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    margin: inherit;
    padding: 24px;
    background-color: bisque;
}